p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-background-color);
  color: var(--primary-text-color);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

footer {
  background-color: var(--hero-background-color);
  padding: 60px 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 480px) {
  .title {
    font-size: 28px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 28px;
    line-height: 1.17;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --main-background-color: #FFFFFF;
  --section-background-color: #F5F4FA;
  --accent-blue: #2196F3;
  --hero-background-color:#2F303A;
  --main-margin: 215px;
  --margin-between-items: 30px;
  --border-bottom: 1px solid #ECECEC;
}

label.modal__text, .modal__button--close, .form__btn, .clients__link, .socials__link, .socials, .works__text, .fetures__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
%transition-transform {
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
}
%transition-fill {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
}

%transition-border-color {
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
}*/
.container {
  width: 100vw;
  margin: 0px auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  section {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  section {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  section {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header {
  border-bottom: var(--border-bottom);
  position: relative;
}

.header__container {
  display: flex;
}
@media screen and (min-width: 480px) {
  .header__container {
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    align-items: center;
    height: 80px;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .navigation__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
  }
}

.navigation__list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link--current.link {
  color: var(--accent-blue);
}

.navigation__list .item + .item {
  margin-left: 50px;
}

.item {
  position: relative;
}

.navigation__link--current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background: var(--accent-blue);
  border-radius: 2px;
}
@media screen and (max-width: 767px) {
  .navigation__link--current::after {
    display: none;
  }
}

.navigation__list .navigation__link:hover,
.navigation__list .navigation__link:active,
.navigation__list .navigation__link:focus {
  color: var(--accent-blue);
}

@media screen and (max-width: 767px) {
  .header__contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__contacts {
    display: inline-block;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .header__contacts .item + .item {
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts .item + .item {
    margin-left: 50px;
  }
}

.header__contacts .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header__contacts .link {
    padding-top: 0;
    padding-bottom: 0;
  }
  .header__contacts .link:first-child {
    margin-bottom: 10px;
  }
}

.header__contacts__link {
  content: "";
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: var(--primary-text-color);
}

.contacts__link:hover,
.contacts__link:focus,
.contacts__icon:hover,
.contacts__icon:focus {
  color: var(--accent-blue);
}

.contacts__icon {
  display: inline-flex;
  margin-right: 10px;
  fill: currentColor;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.menu-button {
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-background-color);
  top: 0px;
  left: 0px;
  right: 0px;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-bottom: 48px;
}

.mobile-menu.is-open {
  transform: translateX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-cross {
  display: inline-flex;
  border: none;
  background-color: transparent;
  padding-left: 436px;
  padding-top: 21px;
}
.menu-cross:hover, .menu-cross:focus {
  fill: var(--accent-blue);
}

.mobile-nav {
  padding-left: 40px;
}

.mobile-nav__link:focus,
mobile-nav__link:hover {
  color: var(--accent-blue);
}

.mobile-nav__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.mob-contacts {
  padding-left: 40px;
}

.mob-contacts__link.tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: var(--accent-blue);
  margin-bottom: 32px;
}

.mob-contacts__link.email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mob-soc-wrap {
  padding-left: 40px;
  margin-bottom: 48px;
}

.mob-soc-list {
  display: flex;
  flex-wrap: wrap;
}

.mob-soc-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-blue);
  padding-right: 10px;
}

.mob-soc-list:last-child {
  padding-right: 0;
}

.mob-soc-item:not(:last-child) {
  margin-right: 20px;
}

.mob-soc-item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-soc-item:last-child {
  border-right: none;
}

.menu-content {
  display: flex;
  flex-direction: column;
  height: 100vw;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: "Raleway", sans-serif;
  color: var(--accent-blue);
}
@media screen and (min-width: 768px) {
  .logo {
    width: 134px;
    margin-right: 87px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
  }
}

@media screen and (min-width: 768px) {
  .logo-footer {
    margin-right: 0;
  }
}

.logo__accent--dark {
  color: var(--secondary-text-color);
}

.logo__accent--light {
  color: var(--main-background-color);
}

.hero-section {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero_img_mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 1600px;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero_img_mob2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero_img_tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero_img_tablet2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero_img.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero_img2x.jpg);
  }
}
.hero-section__btn:hover, .hero-section__btn:focus .hero-section__btn:active {
  background: #188CE8;
}

.hero-section__box {
  margin-bottom: var(--margin-between-items);
}

.hero-section__title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-background-color);
  max-width: 360px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .hero-section__title {
    font-size: 44px;
    max-width: 696px;
  }
}

.hero-section__btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-background-color);
  background-color: var(--accent-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .fetures__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .fetures__list {
    flex-wrap: nowrap;
  }
}

.fetures__title {
  margin-bottom: 10px;
  line-height: 1.14;
  color: var(--secondary-text-color);
}

.fetures__item {
  margin-left: auto;
  margin-right: auto;
}
.fetures__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .fetures__item {
    width: 270px;
  }
  .fetures__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .fetures__item:not(:last-child) {
    margin-right: var(--margin-between-items);
    margin-bottom: 0;
  }
}

.fetures__icon {
  content: "";
  height: 120px;
  background-color: var(--section-background-color);
  margin-bottom: 30px;
  border-radius: 4px;
}
.fetures__text {
  margin-right: auto;
  margin-left: auto;
}

/*align-items: center;
  justify-content: center;

.about-item::before {
  display: block;
  content: "";
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--section-background-color);
  margin-bottom: 30px;
}
width="65" heigh="70
.antena-icon::before {
  background-image: url(../img/antenna.svg);
  background-size: 65px 70px;
}
.clock-icon::before {
  background-image: url(../img/clock.svg);
   background-size:  67px 70px;
}
.diagram-icon::before {
  background-image: url(../img/diagram.svg);
  background-size: 70px 54px;
}
.autronaut-icon::before {
background-image: url(../img/astronaut.svg);
  background-size: 55px 61px;
}*/
.no-padding {
  padding-top: 0px;
}
@media screen and (max-width: 1199px) {
  .no-padding {
    visibility: hidden;
    display: none;
  }
}

.works__list {
  display: flex;
}

.works__item:not(:last-child) {
  margin-right: var(--margin-between-items);
}

.works__title {
  margin-bottom: 50px;
}

.works__wrap {
  position: relative;
}

.works__text {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-background-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.command {
  background-color: var(--section-background-color);
}

.command__list {
  display: block;
}
@media screen and (min-width: 768px) {
  .command__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .command__list {
    flex-wrap: nowrap;
  }
}

.command__item {
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .command__item {
    flex-basis: calc((100% - 60px) / 2);
  }
  .command__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .command__item:not(:last-child) {
    margin-right: var(--margin-between-items);
    margin-bottom: 0;
  }
}

.command__img {
  border-radius: 0px;
}

.command__title {
  font-size: 28px;
  line-height: 1.17;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .command__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.command__item {
  background: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command__name {
  margin-bottom: 10px;
  padding-top: var(--margin-between-items);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.81;
  letter-spacing: em;
  text-align: center;
  color: var(--secondary-text-color);
}

.command__position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.command__socials {
  margin: 20px 24px;
}

.socials__icons {
  fill: currentColor;
}

.socials__item {
  width: 44px;
  height: 44px;
}

.socials__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover {
  background-color: var(--accent-blue);
  color: var(--main-background-color);
}

.clients__title {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    flex-wrap: nowrap;
  }
}

.clients__link {
  max-width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item {
  width: 210px;
  height: 92px;
}
.clients__item:nth-child(-n+4) {
  margin-bottom: 30px;
}
.clients__item:nth-child(2n+1) {
  margin-right: 30px;
}
@media screen and (max-width: 479px) {
  .clients__item {
    width: 320px;
  }
  .clients__item:not(:last-child) {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 90px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .clients__item:nth-child(n+3) {
    margin-bottom: 0;
  }
  .clients__item:nth-child(3n) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
  .clients__item:not(:last-child) {
    margin-right: var(--margin-between-items);
    margin-bottom: 0;
  }
}

.clients__icon {
  color: var(--primary-text-color);
}

.clients__item:focus,
.clients__item:hover,
.clients__link:focus,
.clients__link:hover {
  fill: var(--accent-blue);
  border-color: var(--accent-blue);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
@media screen and (min-width: 1200px) {
  .footer {
    flex-wrap: nowrap;
  }
}
.footer__wrap {
  display: inline-block;
  padding-right: 124px;
  padding-left: 124px;
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__wrap {
    padding-right: 0;
    padding-left: 61px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrap {
    flex-direction: column;
    margin-left: 0;
    margin-right: 70px;
    text-align: start;
    margin-bottom: 0;
    padding-left: 0;
  }
}

.information {
  font-style: normal;
  margin-top: 20px;
}
.information__address {
  color: var(--main-background-color);
}

.information__contact {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.information__contact:hover, .information__contact:focus {
  color: var(--accent-blue);
}

.information__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-socials {
  text-align: center;
  padding-right: 137px;
  padding-left: 137px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-socials {
    padding-right: 89px;
    padding-left: 0;
    margin-left: 167px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-socials {
    padding-right: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.footer-socials__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background-color);
  margin-bottom: 20px;
}

.footer-socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link--dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.socials__link--dark:hover {
  background-color: var(--accent-blue);
  color: var(--main-background-color);
}

.sign-up {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .sign-up {
    margin-left: 93px;
    margin-right: 0;
    text-align: start;
    padding-left: 0;
    padding-right: 0;
  }
}
.sign-up__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-background-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .form {
    display: flex;
  }
}

.form__email {
  width: 430px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--hero-background-color);
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .form__email {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form__email {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}
.form__email::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.form__email:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.form__email::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form__btn {
  width: 200px;
  height: 50px;
  margin: auto;
  background-color: var(--accent-blue);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-background-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  border: none;
}
.form__btn:hover, .form__btn:focus, .form__btn:active {
  background: #188ce8;
}

.form__icon {
  display: flex;
  margin-left: 10px;
  fill: var(--main-background-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 94px 15px;
  overflow-y: scroll;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1) rotate(0);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--main-background-color);
  padding: 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}
.modal__header {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.51;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 12px;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0) rotate(-180deg);
}

.modal__button--close {
  position: absolute;
  right: 8px;
  top: 8px;
  background: var(--main-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button--close:hover, .modal__button--close:focus {
  fill: var(--accent-blue);
}

.modal__group {
  position: relative;
}

.modal__group:nth-child(-n+3) {
  margin-bottom: 10px;
}

.modal__group:nth-child(5) {
  margin-top: 20px;
}

.modal__label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal__input {
  width: 100%;
  height: 40px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  padding-left: 42px;
  color: var(--primary-text-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus-within, .modal__input:hover {
  border: 1px solid var(--accent-blue);
  outline: none;
}

.modal__icon {
  position: absolute;
  top: 55%;
  left: 15px;
}

.modal__input:focus-within ~ .modal__icon,
.modal__input:hover ~ .modal__icon {
  fill: var(--accent-blue);
}

.modal__text {
  font-size: 12px;
}
@media screen and (min-width: 1200px) {
  .modal__text {
    font-size: 14px;
  }
}

.modal__text::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__text:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__text::before {
  content: "";
  width: 16px;
  height: 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--secondary-text-color);
  border-radius: 4px;
  margin-right: 8px;
}

.modal__textarea {
  width: 370px;
  height: 120px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 16px;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea:focus-within, .modal__textarea:hover {
  border: 1px solid var(--accent-blue);
  outline: none;
}
@media screen and (min-width: 1200px) {
  .modal__textarea {
    width: 448px;
  }
}

.modal__button {
  width: 200px;
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 52px;
  color: var(--main-background-color);
  background: var(--accent-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  margin-top: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.modal__button:hover, .modal__button:focus {
  background-color: #188ce8;
}

.modal__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.modal__checkbox:checked + .modal__text::before {
  background-color: var(--accent-blue);
  border: none;
  background-image: url(../img/icon_checkbox.svg);
  background-repeat: no-repeat;
}

.modal__terms {
  color: var(--accent-blue);
  margin-left: 5px;
}

@media screen and (max-width: 767px) {
  .profile-list-container {
    width: 390px;
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .menu {
    justify-content: center;
    margin-bottom: 30px;
  }
  .menu .menu__item + .menu__item {
    margin-left: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    margin-bottom: 50px;
  }
}

.menu__item:nth-child(-n+2) {
  margin-right: 8px;
}
.menu__item:last-child {
  margin-left: 8px;
}
.menu__item:nth-child(-n+3) {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .menu__item:nth-child(-n+3) {
    margin-bottom: 0;
  }
}
.menu__item:nth-last-child(-n+2) {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .menu__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

.menu__btn {
  padding: 6px 22px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  cursor: pointer;
  background-color: var(--section-background-color);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__btn:hover, .menu__btn:focus, .menu__btn:active {
  background-color: var(--accent-blue);
  color: var(--section-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
}

.cards-list__item {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}
.cards-list__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .cards-list__item {
    flex-basis: calc((100% - 60px) / 2);
    width: 354px;
  }
  .cards-list__item:nth-child(-n+1) {
    margin-bottom: 30px;
  }
  .cards-list__item:nth-child(odd) {
    margin-right: 30px;
  }
  .cards-list__item:last-child {
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .cards-list__item {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: var(--margin-between-items);
    margin-bottom: var(--margin-between-items);
  }
  .cards-list__item:nth-child(3n) {
    margin-right: 0px;
  }
  .cards-list__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.cards-list__link {
  display: flex;
  flex-direction: column;
}

.cards-list__item:hover .cover-text {
  transform: translateY(0);
}

.cards-list__img-wrap {
  position: relative;
  overflow: hidden;
}

.cover-text {
  position: absolute;
  top: 0;
  padding: 63px 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  height: 100%;
  color: var(--main-background-color);
  background-color: var(--accent-blue);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*.portfolio-cover-text.is-hidden {
 opacity: 0;
 pointer-events: none;
}*/
.cards-list__link.link:hover,
.cards-list__link.link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards-list__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.cards-list__name {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.cards-list__wrap {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  width: 450px;
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .cards-list__wrap {
    width: 354px;
  }
  .cards-list__wrap .cards-list__wrap:nth-child(1) {
    padding-bottom: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .cards-list__wrap {
    width: 370px;
  }
}

/* secondary text color 212121 */
/* primary text color 757575 */
/* main background white FFFFFF */
/* section background F5F4FA */
/* accent blue 2196F3 */
/* header + footer background 2F303A */
/* h1 FFFFFF *//*# sourceMappingURL=main.css.map */