@import './base/reset';
@import './base/common';

@import './base/hidden';

@import './utils/vars';

@import './components/containersection';


@import './layout/header';
@import './layout/hero';
@import './layout/about';
@import './layout/work';
@import './layout/command';
@import './layout/clients';
@import './layout/footer';
@import './layout/modal';







/* secondary text color 212121 */
/* primary text color 757575 */
/* main background white FFFFFF */
/* section background F5F4FA */
/* accent blue 2196F3 */
/* header + footer background 2F303A */
/* h1 FFFFFF */


/*-----------PORTFOLIO--------*/
/*-----------PORTFOLIO_ABOUT--------*/

.navidation-list {
 display: flex;
 justify-content: center;
 margin-bottom: 50px
 }

 .navidation-list .navidation-item + .navidation-item {
  margin-left: 8px;
 }
 
.navidation-btn {
padding: 6px 22px;
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
color: var(--secondary-text-color);
cursor: pointer;
background-color: var(--section-background-color);
border-radius: 4px;
border: none;

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navidation-btn:hover,
.navidation-btn:focus,
.navidation-btn:active  {
background-color: var(--accent-blue);
color: var(--section-background-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.container-about {
  margin-bottom: 50px;
}

/*-----------PORTFOLIO_WORKS--------*/

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}


.portfolio-item {
width: calc((100% - 60px)/3);
margin-right: var(--margin-between-items);
margin-bottom: var(--margin-between-items);
}

.portfolio-item:nth-child(3n) {
margin-right: 0px;
}
.portfolio-item:nth-last-child(-n + 3) {
margin-bottom: 0;
}
.portfolio-link {
  display: block;
}
.portfolio-item:hover .portfolio-cover-text{
  transform: translateY(0);
}

.portfolio-img-wrap {
 position: relative;
 overflow: hidden;
}
.portfolio-cover-text {
  position: absolute;
  top: 0;
  padding: 63px 24px;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-background-color);
  background-color: var(--accent-blue);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*.portfolio-cover-text.is-hidden {
 opacity: 0;
 pointer-events: none;
}*/

.portfolio-link.link:hover,
.portfolio-link.link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-title {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--secondary-text-color);
margin-bottom: 4px;
}

.portfolio-name {
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--primary-text-color)
}

.portfol-wrap {
padding: 20px 24px;
border-left: 1px solid #EEEEEE;
border-bottom: 1px solid #EEEEEE;
border-right: 1px solid #EEEEEE;
width: 370px;
}

