.fetures__list {

   @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

  @media screen and (min-width: 1200px){
    flex-wrap: nowrap;
}
}

.fetures__title {
  margin-bottom: 10px;

  line-height: 1.14;
  color: var(--secondary-text-color);
}

.fetures__item {
margin-left: auto;
margin-right: auto;

 &:not(:last-child) {
  margin-bottom: 30px;
 }

  @media screen and (min-width: 768px){
     flex-basis: calc((100% - 60px) / 2);
      // width: 270px;
       &:not(:last-child) {
  margin-bottom: 0px;
 }

    &:nth-child(-n + 2) {
     margin-bottom: 30px;
    }
}

  @media screen and (min-width: 1200px){
      &:not(:last-child) {
    margin-right: var(--margin-between-items);
     margin-bottom: 0;
  }
  }
}

.fetures__icon {
  @extend %flex-align-justify;

  content: "";
  height: 120px;
  background-color: var(--section-background-color);
  margin-bottom: 30px;
  border-radius: 4px;

   @media screen and (min-width: 768px){

}
}

.fetures__text {
  margin-right: auto;
  margin-left: auto;
}
/*align-items: center;
  justify-content: center;

.about-item::before {
  display: block;
  content: "";
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--section-background-color);
  margin-bottom: 30px;
}
width="65" heigh="70
.antena-icon::before {
  background-image: url(../img/antenna.svg);
  background-size: 65px 70px;
}
.clock-icon::before {
  background-image: url(../img/clock.svg);
   background-size:  67px 70px;
}
.diagram-icon::before {
  background-image: url(../img/diagram.svg);
  background-size: 70px 54px;
}
.autronaut-icon::before {
background-image: url(../img/astronaut.svg);
  background-size: 55px 61px;
}*/
