.command {
  background-color: var(--section-background-color);

  &__item:not(:last-child) {
    margin-right: var(--margin-between-items);
  }
}

.command__img {
    background: url(4853.jpg);
    border-radius: 0px;
  }
.command__title {
    margin-bottom: 50px;
  }

.command__list {
    display: flex;
  }

.command__item {
    background: var(--main-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
.command__name {
    margin-bottom: 10px;
    padding-top: var(--margin-between-items);

    @include font(16, 500, 1.81, null);

    text-align: center;
    color: var(--secondary-text-color);
  }
.command__position {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  }
.command__socials {
  margin: 20px 24px;
}

.socials {
  @extend %flex-align-justify;

  &__icons {
    fill: currentColor;
  }
}

.socials__item {
    width: 44px;
    height: 44px;
  }

.socials__link {
    @extend %flex-align-justify;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: #afb1b8;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover {
    background-color: var(--accent-blue);
    color: var(--main-background-color);
  }
  }