.header {
  border-bottom: var(--border-bottom);
  position: relative;
}

.header__container {
 display: flex;

  @media screen and (min-width: 480px){
 justify-content: space-between;
 align-items: center;
 height: 60px;
  }

 @media screen and (min-width: 768px){
  align-items: center;
 height: 80px;
}
}
.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {

    @media screen and (max-width: 767px){
    display: none;
  }

  @media screen and (min-width: 768px){
  display: flex;
  }
}

.navigation__list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link--current.link {
color: var(--accent-blue);
}

.navigation__list .item + .item {
  margin-left: 50px;
}

.item {
  position: relative;
}

.navigation__link--current::after {
  @media screen and (max-width: 767px) {
    display: none;
  }
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background: var(--accent-blue);
  border-radius: 2px;
}

.navigation__list .navigation__link:hover,
.navigation__list .navigation__link:active,
.navigation__list .navigation__link:focus {
  color: var(--accent-blue);
}


.header__contacts {

    @media screen and (max-width: 767px){
    display: none;
  }

   @media screen and (min-width: 768px){
    display: inline-block;
    margin-left: auto;
   }

    @media screen and (min-width: 1200px){
  display: flex;
  margin-left: auto;
  align-items: center;
    }
  & .item + .item {

    @media screen and (min-width: 768px){
      margin-left: 0;
    }
     @media screen and (min-width: 1200px){
  margin-left: 50px;
  }
}
}

.header__contacts .link {

    @media screen and (min-width: 768px){
     padding-top: 0;
     padding-bottom: 0;

     &:first-child {
      margin-bottom: 10px;
     }
    }
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contacts__link {
  content: "";
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: var(--primary-text-color);
        }

.contacts__link:hover,
.contacts__link:focus,
.contacts__icon:hover,
.contacts__icon:focus {
  color: var(--accent-blue);
}

.contacts__icon {
  display: inline-flex;
  margin-right: 10px;
  fill: currentColor;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.menu-button {
 display: inline-flex; 
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
  display: none;
}
}

.mobile-menu {
  position: fixed;
 width: 100vw;
 height: 100vh;
 background-color: var(--main-background-color);
 top: 0px;
 left: 0px;
 right: 0px;

 transform: translateX(100%);
 transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding-bottom: 48px;
}
.mobile-menu.is-open {
  transform: translateX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// .mobile-menu.is-hidden {
//   transform: translateX(0);
// }
.menu-cross {
  display: inline-flex;
  border: none;
  background-color: transparent;
  padding-left: 436px;
  padding-top: 21px;

  &:hover,
  &:focus {
    fill: var(--accent-blue);
  }
}

.mobile-nav {
    padding-left: 40px;
}

.mobile-nav__link:focus,
mobile-nav__link:hover {
  color: var(--accent-blue);
}

.mobile-nav__link {
  @include font($fs: 40, $fw: 500, $ls: 0.02);
  color: var(--secondary-text-color);

}

.mob-contacts {
   padding-left: 40px;
}

.mob-contacts__link.tel {
    font-weight: 500;
font-size: 34px;
line-height: 1.71;
letter-spacing: 0.02em;
color: var(--accent-blue);
margin-bottom: 32px;
}

.mob-contacts__link.email {
font-weight: 500;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.02em;
color: var(--primary-text-color);
}

.mob-soc-wrap {
 padding-left: 40px;
  margin-bottom: 48px;
  }

.mob-soc-list {
  display: flex;
  flex-wrap: wrap;
}
.mob-soc-link {
   @include font(18, 500, 1.22, 0.02);
 color: var(--accent-blue);
 padding-right: 10px;
}

.mob-soc-list:last-child {
  padding-right: 0;
}

.mob-soc-item:not(:last-child) {
  margin-right: 20px;
}

.mob-soc-item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);

  &:last-child {
  border-right: none;
}
}

.menu-content {
  display: flex;
  flex-direction: column;
  height: 100vw;
  justify-content: space-between;
}

