.hero-section {
padding-top: 200px;
padding-bottom: 200px;
margin-left: auto;
margin-right: auto;
text-align: center;

background-image: linear-gradient(rgba(47, 48, 58, 0.4),
 rgba(47, 48, 58, 0.4)), url(../img/hero_img.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-color:  #C4C4C4;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
max-width: 1600px;
margin: 0 auto;

&__box {
margin-bottom: var(--margin-between-items);
}


&__title {
max-width: 696px;
margin: 0 auto;

font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--main-background-color);
}

&__btn {
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
color: var(--main-background-color);
background-color: var(--accent-blue);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;

padding: 10px 32px;
display:block;
margin-left: auto;
margin-right: auto;
}

&__btn:hover,
&__btn:focus
&__btn:active {
background: #188CE8;
}
}

