.logo {
  font-family: "Raleway", sans-serif;

  @include font (26, 700, 1.2, 0.03);
 
  color: var(--accent-blue);
}

.logo__accent--dark {
  color: var(--secondary-text-color);
}
.logo__accent--light {
  color: var(--main-background-color);
}
.navigation__logo {
  @media screen and (min-width: 768px){
    margin-right: 87px;
  }
  @media screen and (min-width: 1200px){
  margin-right: 93px;
  }
}