.backdrop {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
background-color: rgba(0, 0, 0, 0.2);

transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) scaleY(1) rotate(0);

width: 528px;
min-height: 581px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
background-color: var(--main-background-color);
padding: 40px;

transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.is-hidden .modal {
transform: translate(-50%, -50%) scaleY(0) rotate(-180deg);
}

.modal-close-button {
position: absolute;
right: 8px;
top: 8px;
background: var(--main-background-color);
border: 1px solid rgba(0, 0, 0, 0.1);
width: 30px;
height: 30px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;

transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover,
.modal-close-button:focus {
  fill: var(--accent-blue);
}
.modal-header {
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
margin-bottom: 12px;
}
.modal-input-group:nth-child(-n + 3) {
  margin-bottom: 10px;
}
.modal-input-group:nth-child(5) {
  margin-top: 20px;
}
.modal-label {
  font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
margin-bottom: 4px;
}
.modal-input {
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  padding-left: 42px;
  color: var(--primary-text-color);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-input {
 position: absolute;
  top: 55%;
  left: 15px;
}

.modal-input:focus-within ~ .modal-icon-input,
.modal-input:hover ~ .modal-icon-input {
fill: var(--accent-blue);
}
.modal-input:focus-within,
.modal-input:hover {
  border: 1px solid var(--accent-blue);
  outline: none;
}

.modal-text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-input-group {
position: relative;
}

.modal-text {
 width: 448px;
  height: 120px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 16px;
  cursor: pointer;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text:focus-within,
.modal-text:hover {
  border: 1px solid var(--accent-blue);
  outline: none;
}
.modal-button {
width: 200px;
font-family: inherit;;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
padding: 10px 52px;
color: var(--main-background-color);
background: var(--accent-blue);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border: none;
border-radius: 4px;
margin-top: 30px;

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

display:flex;
align-items: center;
margin-left: auto;
margin-right: auto;
}

.modal-button:hover,
.modal-button:focus {
background-color: #188CE8;
}

.label-checkbox::before {
 content: "";
 width: 16px;
 height: 15px;
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
 border: 2px solid var(--secondary-text-color);
 border-radius: 4px;
 margin-right: 8px;
}
label.label-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.checkbox-input:checked + .label-checkbox::before {
  background-color: var(--accent-blue);
  border: none;
  background-image: url(../img/icon_checkbox.svg);
  background-repeat: no-repeat;
}
.terms {
  color: var(--accent-blue);
  margin-left: 5px;
}