.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  & &__item + &__item {
    margin-left: 8px;
  }
}

.menu__btn {
  padding: 6px 22px;
  font-family: inherit;

  @include font($fs: 16, $fw: 500, $lh: 1.62);

  color: var(--secondary-text-color);
  cursor: pointer;
  background-color: var(--section-background-color);
  border-radius: 4px;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

 &:hover,
 &:focus,
 &:active {
  background-color: var(--accent-blue);
  color: var(--section-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
}

