.no-padding {
  padding-top: 0px;
}
.works__list {
  display: flex;
}
.works__item:not(:last-child) {
  margin-right: var(--margin-between-items);
}

.works__title {
  margin-bottom: 50px;
}
.works__wrap {
  position: relative;
}
.works__text {
  position: absolute;
  bottom:0;
  width: 370px;
  height: 70px;
  @extend  %flex-align-justify;
  
  @include font (14, 700, 1.14, 0.03);
 
  text-align: center;
  text-transform: uppercase;
  color: var(--main-background-color);
  background-color:  rgba(47, 48, 58, 0.8);
}