.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.title {
font-size: 36px;
line-height: 1.16;
text-align: center;
color: var(--secondary-text-color);

 @media screen and (min-width: 480px){
    font-size: 28px;
   line-height: 1.17;
 }
  @media screen and (min-width: 768px){
  font-size: 28px;
   line-height: 1.17;
  }
}