:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --main-background-color: #FFFFFF;
    --section-background-color: #F5F4FA;
    --accent-blue: #2196F3;
    --hero-background-color:#2F303A;
    --main-margin: 215px;
    --margin-between-items: 30px;
    --border-bottom: 1px solid #ECECEC;
    }